<section class="counters3 counters cid-s2DVv12RGw" id="counters3-5">

    <div class="container pt-4 mt-2">
        <h3 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2"><b>
                    Your Set-up At Your Command
        </b></h3>
        <h4 class="mbr-section-subtitle pb-5 align-center mbr-fonts-style display-5">
            With Our New Inbuild Software Command. 
        </h4>
        <h5><b>We are intruducing the new software command module. Adjust your PC according to your needs with simple and easy steps.</b></h5>
    </div>
    <br>
</section> 
<div class="row">  
<div  class="text-right" class="col-lg-4 text-right">
    <article class="text-center">
          <h3><p>ICUE For Gaming</p></h3>
          <a class="nav-link" routerLink="/product" href="#"><button class="btn btn-dark"><img width="200px" height ="300px" src="../../assets/24.jpg" alt="Random Name" style="width:100%"></button></a>
          <p><b>Switch from an MMO to an FPS without missing a beat automatically launch custom profiles with your saved macros and lighting settings whenever you launch a specific game. Give yourself a competitive edge in battle with fully customizable multi-command macros and key remapping on iCUE-compatible peripherals.</b></p>
    </article>
    </div>
<div  class="text-center" class="col-lg-4 text-center">
          <article class="text-center">
            <h3><p>ICUE For Builds</p></h3>
            <a class="nav-link" routerLink="/product" href="#"><button class="btn btn-dark"><img width="200px" height ="300px" src="../../assets/18.jpg" alt="Random Name" style="width:100%"></button></a>
            <p><b>Create advanced RGB lighting effects synchronized across all of your compatible devices to perfectly accentuate the unique look of your build thanks to iCUE’s unrivaled level of lighting customization. iCUE helps your PC perform at its best, allowing you to directly adjust fan speeds and set up automated fan curves that optimize system performance, perfect for overclocking.</b></p>
          </article>
      </div>
        <div  class="text-left" class="col-lg-4 text-left">
          <article class="text-center">
              <h3><p>ICUE For Advanced Control</p></h3>
              <a class="nav-link" routerLink="/product" href="#"><button class="btn btn-dark"><img width="200px" height ="300px" src="../../assets/21.jpg" alt="Random Name" style="width:100%"></button></a>
              <p><b>Orchestrate your own dazzling light shows across all your compatible CORSAIR devices, right down to the smallest detail, with intricate multi-layer lighting patterns and effects. Tailor all your compatible peripherals to your needs, from custom complex keyboard macros, to precise mouse sensitivity adjustments, to tweaking the equalizer settings on your headset for the ideal listening experience.</b></p>
          </article>
          <br>
          <br>
        </div>
        <div  class="text-center" class="col-lg-12 text-center">
          <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
            <div class="container text-center">
              <h6>Copyright &copy.</h6> <h6>Powered By IronForge</h6>
            </div>
          </footer>
        </div>
</div> 