<section class="team1 cid-s2DVWPg05c" id="team1-e">
        
    <div class="container align-center">
        <h3 class="pb-3 mbr-fonts-style mbr-section-title display-2">
            <b>OUR AWESOME TEAM</b>
        </h3>
        <h4 class="pb-5 mbr-section-subtitle mbr-fonts-style mbr-light display-5">
            Our Team Is Consisted Of Well Trained IT Professional And Hardware Expertise. We Are Here To Help Our Customers With Any And Every Diffuclty. We Thank You For Giving Us A Chance.
        </h4>
        <div class="row media-row">
            <div class="card">
                <img src="../../assets/p1.jpg" alt="pc" style="width:100%">
                <h1>Sohan </h1>
                <p>Senior Software Engineer-III</p>
                <p><button>Contact Us</button></p>
            </div> 
            <div class="card">
                <img src="../../assets/p3.JPG" alt="pc" style="width:100%">
                <h1>Shantanu</h1>
                <p>Senior Software Engineer-III</p>
                <p><button>Contact Us</button></p>
            </div>
            <div class="card">
                <img src="../../assets/p2.jpg" alt="pc" style="width:100%">
                <h1>Amrit</h1>
                <p>Senior Software Engineer-III</p>
                <p><button>Contact Us</button></p>
            </div> 
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <!--Titles-->
        <div class="title col-12">
            <h2 class="align-left mbr-fonts-style display-1">
               <b> Our Contacts</b>
            </h2>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="wrapper">
                        <span class="iconfont-wrapper">
                            <span class="amp-iconfont icon fa-thumbs-o-up fa"></span>
                        </span>
                        <div class="b-info b-adress">
                            <h5 class="align-left mbr-fonts-style display-5">
                                Address:
                            </h5>
                            <p class="mbr-text align-left mbr-fonts-style display-7">
                                IornForge.INC
                            </p>
                            <p class="mbr-text align-left mbr-fonts-style display-7">
                                4325 W PALM BEACH RD RM 419
                            </p>
                            <p class="mbr-text align-left mbr-fonts-style display-7">
                                SAN FRANCISCO, CA-94116.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="wrapper">
                        <span class="iconfont-wrapper">
                            <span class="amp-iconfont icon fa-phone fa"></span>
                        </span>
                        <div class="b-info b-phone">
                            <h5 class="align-left mbr-fonts-style display-5">
                                Phone:
                            </h5>
                            <p class="mbr-text align-left mbr-fonts-style display-7">
                                +91-12-345-56789
                            </p>
                            <p class="mbr-text align-left mbr-fonts-style display-7">
                                +91-12-345-56789
                            </p><p class="mbr-text align-left mbr-fonts-style display-7">
                                +91-12-345-56789
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="wrapper">
                        <span class="iconfont-wrapper">
                            <span class="amp-iconfont icon fa-comment-o fa"></span>
                        </span>
                        <div class="b-info b-mail">
                            <h5 class="align-left mbr-fonts-style display-5">
                                E-mail:
                            </h5>
                            <p class="mbr-text align-left mbr-fonts-style display-7">
                                Sohan@gmail.com
                            </p>
                            <p class="mbr-text align-left mbr-fonts-style display-7">
                                Shantanu@gmail.com
                            </p>
                            <p class="mbr-text align-left mbr-fonts-style display-7">
                                Amrit@gmail.com
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="wrapper">
                        <span class="iconfont-wrapper">
                            <span class="amp-iconfont icon fa-th-large fa"></span>
                        </span>
                        <div class="b-info b-mail">
                            <h5 class="align-left mbr-fonts-style display-5">
                                Working Hours:
                            </h5>
                            <p class="mbr-text align-left mbr-fonts-style display-7">
                                Weekdays : 9:00 To 22:00.
                            </p>
                            <p class="mbr-text align-left mbr-fonts-style display-7">
                                Weekends : 10:00 To 21:30.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div  class="text-center" class="col-lg-12 text-center">
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
      <div class="container text-center">
        <h6>Copyright &copy.</h6> <h6>Powered By IronForge</h6>
      </div>
    </footer>
  </div>
