<div class="row">
    <div class="col-lg-12">
        <h1 class="text-center">
           The Extreme Masters
        </h1>

        <table class="table table-bordered table-hover ">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Product Name</th>
                    <th>Product Image</th>
                    <th>Product Qty</th>
                    <th>Product Price</th>
                    <th>Total</th>
                    <th>Remove</th>
                </tr>

            </thead>
            <tbody>
                <tr  *ngFor="let i of cart; let m = index">
                  
                    <td>{{m+1}}</td>
                    <td>{{i.product_name}}</td>

                    <td>
                        <img width="50px" height="50px" src="http://localhost:3000/{{i.product_image}}" alt="">
                    </td>
                    <td>{{i.product_count}}</td>
                    <td>{{i.product_price}}</td>
                    
                    <td>{{i.product_count * i.product_price }}</td>

                    <td>
                            
                        <button (click)="deleteCart(m)" class="btn-dark text-light">
                            X
                        </button>
                    </td>

                </tr>
                <tr *ngIf="cart.length === 0">
                    <th class="text-center" colspan="7">
                                No Items In Cart.
                        </th>
                </tr>
            </tbody>

          

            <tfoot>

                <tr>
                    <th colspan="5" class="text-right">
                        Final Amount
                    </th>
                    <th>
                        {{final_total}} Rs
                    </th>
                   
                </tr>

            </tfoot>

        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 ">
        <button (click)="placeOrder2()"  class="btn btn-dark float-right mr-8">
            Add To Favourite
        </button>
    </div>
    <div class="col-lg-4 ">
        <button (click)="placeOrder2()"  class="btn btn-dark float-right mr-8">
            Place Order
        </button>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div  class="text-center" class="col-lg-12 text-center">
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
      <div class="container text-center">
        <h6>Copyright &copy.</h6> <h6>Powered By IronForge</h6>
      </div>
    </footer>
</div>
